version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.3.1
  aws-eb-cli: speakable-org/aws-eb-cli@1.0.1
jobs:
  build:
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - node/install-yarn:
        version: 1.22.4
      - aws-cli/setup:
        profile-name: default
      - run: node --version
      - run: yarn
      - run: aws --version
      - run:
