version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.3.1
  eb: circleci/aws-elastic-beanstalk@2.0.1
jobs:
  build:
    docker:
      - image: circleci/node:10.14.2
    steps:
      - node/install
      - checkout
      - aws-cli/setup:
          profile-name: default
      - eb/setup
      - run:
          name: Install Backend Dendencies
          command: |
            npm run install:backend
      - run:
          name: Install Frontend Dendencies
          command: |
            npm run install:frontend
      - run:
          name: Build Backend Application
          command: |
            npm run build:backend
      - run:
          name: Build Frontend Application
          command: |
            npm run build:frontend
